* {

}

.nav-wrapper {
  background-color: rgb(1,53,127) !important;
}

.page-footer {
  background-color: rgb(1,53,127) !important;
}

.welcome {
  width: 50%;
  float: left;
  height: 50%;
} 

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

header {
  flex-shrink: 0; 
}

main {
  flex-grow: 1; 
}

footer {
  flex-shrink: 0; 
}

.custom-button {
  background-color: rgb(1,53,127); 
}

.custom-button:hover {
  background-color: rgba(1, 54, 127, 0.85); 
}

.button-container {
  display: flex;
  justify-content: center;
}

.welcome {
  width: 50%; 
  height: 50%; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  font-weight: bold;
}

.welcome h1 {
  font-weight: bold;
}

.welcome-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  padding: 20px;
  font-size: 24px;
}

.about h1 {
  margin-bottom: 20px; 
  font-weight: bold;
}

.highlight {
  color: rgba(1, 54, 127, 0.85); 
}

