{% extends 'base.html' %}
{% block content %}
<style>
    .btn {
        background-color: darkblue !important; 
        color: white !important; 
    }

    form {
        background-color: lightgray; 
        padding: 20px;
        border-radius: 10px;
    }

    input[type="text"], input[type="password"] {
        border: 1px solid darkblue !important;
        background-color: white !important; 
    }
</style>
<div class="container">
    <h4 class="center-align">Log In</h4>
    <form method="POST" action="{% url 'login' %}" class="col s12">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <div class="center">
      <button class="btn waves-effect waves-light" type="submit">Log In</button>
      </div>
    </form>
</div>
{% endblock %}
