{% extends 'base.html' %}
{% block content %}
<style>
    .btn {
        background-color: darkblue !important; 
        color: white !important; 
    }

    form {
        background-color: lightgray; 
        padding: 20px; 
        border-radius: 10px; 
    }

    input[type="text"], input[type="password"] {
        border: 1px solid darkblue !important; 
        background-color: white !important;
    }
</style>
<div class="container">
    <h4 class="center-align">Sign Up</h4>
    <p class="red-text">{{ error_message }}</p>
    <form method="POST" action="{% url 'signup' %}" class="col s12">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="center">
      <button class="btn waves-effect waves-light" type="submit">Sign Up</button>
      </div>
    </form>
</div>
{% endblock %}
